<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539047140274-9ln3g92k3cbir6mj4sc8cov31djbn8pe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539047140274-9ln3g92k3cbir6mj4sc8cov31djbn8pe</string>
	<key>API_KEY</key>
	<string>AIzaSyD_Gu6ZuVgKaZH60x4gpxBkUlxDqSPm4qQ</string>
	<key>GCM_SENDER_ID</key>
	<string>539047140274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wlff.forcarmain</string>
	<key>PROJECT_ID</key>
	<string>forcar-last</string>
	<key>STORAGE_BUCKET</key>
	<string>forcar-last.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539047140274:ios:cf6dce6393fc18e5eee2ab</string>
</dict>
</plist>