<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91139422644-khkoetd9fecsov7jkijvrkta2eb7ugh2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91139422644-khkoetd9fecsov7jkijvrkta2eb7ugh2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>91139422644-1t98v0k8n0q9qtri4037fspk3jrdcrb0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpDAtEMAf9LNwBRt6-TrnW52_kOn89AzM</string>
	<key>GCM_SENDER_ID</key>
	<string>91139422644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wlff.forcarmain</string>
	<key>PROJECT_ID</key>
	<string>carmain-7a68b</string>
	<key>STORAGE_BUCKET</key>
	<string>carmain-7a68b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91139422644:ios:46eb6bc9649a88daf4dae1</string>
</dict>
</plist>